<ion-header>
  <div class="titre">
        <div class="back">
          <ion-button slot="start" fill="clear" (click)="back()">
            <ion-icon name="arrow-back"></ion-icon>
          </ion-button>
        </div>
        Pseudo
        <div class="save">
          <ion-button slot="end" fill="clear" type="submit">
            <ion-icon name="save"></ion-icon>
          </ion-button>
          
        </div>
      </div>
      <div class="profil">
        <img src="../../../assets/Annotation 2020-07-11 155250.png" >
        <h3>Alex kabe</h3>
        <p>Alexkabekabe@gmail.com</p>
      </div>
      
    </ion-header>
  <ion-content>
    
    <form (ngSubmit)="onSubmit(f)" #f="ngForm">

    <ion-item>
      <ion-input placeholder="Mail" name="mail" id="mail" ngModel required></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-input placeholder="Adresse" name="adresse" id="adresse" ngModel required></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-input placeholder="Tel" name="tel" id="tel" ngModel required></ion-input>
    </ion-item>
    
    <ion-item button (click)="openAlert()">
      <ion-label>Changer de mot passe</ion-label>
    </ion-item>
    <div>
      <ion-button shape="round" [disabled]="f.invalid" type="submit" fill="outline" expand="block" color="primary">Enregistrer</ion-button>
    </div>
  </form >

  </ion-content>
<ion-button color="success" (click)="profil()">
  Mon profil
</ion-button>


