.carte1
{
    width: auto;
    margin-left: 2%;
    max-width: 75%;
    border-radius: 20px;
    color: black;
    background-color: gainsboro;
}

.carte2
{
    border-radius: 20px;
    width: auto;
    max-width: 75%;
    color: white;
    background-color: rgb(43, 199, 43);
}
.textarea
{
    height: 70px;
    border-radius: 20px;
    border: 0.5px solid black;
    margin: 5%;
}
ion-button
{
    margin: auto;
}

.footer-md::before {
    background-image: none;
}
