<ion-header>
  <ion-toolbar color="primary">
   <ion-menu-button slot="start"></ion-menu-button>
   <ion-title>OCM APPLICATION</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-title>
      <img src="../..//assets/paper_662911.jpg">
    </ion-card-title>
    <ion-card-content>
      <p>Je suis la page d'accueil et je vous presente le home page</p>
    </ion-card-content>
  </ion-card>
  <ion-text color="primary">
    <h1>Notre vision</h1>
  </ion-text>
  <ion-item>
    <p>
     Notre vision est de fournir des services informatiques 
     de la plus haute qualité et d'assurer la satisfaction du client au moins à 97%
    </p>    
  </ion-item>  
  <ion-card>
    <ion-card-content>
      <ion-label>
        <ion-icon name="logo-facebook"></ion-icon>
        Facebook</ion-label>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>      
      <ion-label>
        <ion-icon name="logo-google"></ion-icon>
        Nos differents sites
      </ion-label>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-content>
      <ion-label>
        <ion-icon name="logo-twitter"></ion-icon>
        Contactez-nous...
      </ion-label>
    </ion-card-content>
  </ion-card>
</ion-content>
