
<ion-content>
  <ion-list class="liste">
    <ion-item button   fill="clear" (click)="addFacture()">
      <ion-icon name="save" slot="start"></ion-icon>
      <ion-label> Enregistrer</ion-label>
    </ion-item>
  
    <ion-item button [disabled]="db.numliste === 0" fill="clear" (click)="generatePdf()">
      <ion-icon name="print" slot="start"></ion-icon>
      <ion-label>Imprimer</ion-label>
    </ion-item>
  

    <ion-item button fill="clear" [disabled]="db.numliste === 0" (click)="dropFact()">
      <ion-icon name="trash" slot="start"></ion-icon>
      <ion-label>Supprimer</ion-label>
    </ion-item>
  </ion-list>
</ion-content>
