

<ion-content>
  <ion-slides pager="true">
    <ion-slide>
      <ion-card>
        <img src="../../assets/paper_638277.jpg" /><br>
        <ion-card-header>
          <ion-card-title>Le peroquet</ion-card-title>
        </ion-card-header>
        <ion-card-content text="wrap">
          <ion-label>
            <p>Le peroquet est l'un des oiseaux fetiche de l'entreprise! Il est super drole et diverti les employes en cas de fatigue et de pause!</p>
          </ion-label>
          
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="../../assets/paper_662911.jpg" />
        <ion-card-header>
          <ion-card-title>La porsche</ion-card-title>
        </ion-card-header>
        <ion-card-content text="wrap">
          <ion-label>
            <p>La porsche est une voiture utilisee dans notre entreprise pour les deplacement rapide et sur!</p>
          </ion-label>
        </ion-card-content>
      </ion-card>
    </ion-slide>

    <ion-slide>
      <ion-card>
        <img src="../../assets/paper_652732.jpg" />
        <ion-card-header>
          <ion-card-title>One peace</ion-card-title>
        </ion-card-header>
        <ion-card-content text="wrap">
          <ion-label>
            <p>C'est l'une de plus ancien dessin anime. Il a duree et ne connais pas de fin depuis sa creation et sa premiere diffusion</p>
          </ion-label>
        </ion-card-content>
          <ion-button routerLink="/login" routerDirection="forward">
            Se connecter
          </ion-button>
      </ion-card>
    </ion-slide>
  </ion-slides>
</ion-content>
