<ion-header>
  <ion-toolbar color="primary">
   <ion-menu-button slot="start"></ion-menu-button>
   <ion-title>
    <ion-icon name="cart-outline"></ion-icon> 
    VENTE</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>

<ion-fab vertical="bottom" horizontal="end">
  <ion-fab-button>
    Menu
  </ion-fab-button>
  
  <ion-fab-list side="start">
    <ion-fab-button routerLink="facture">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
    <ion-fab-button routerLink="article">
      <ion-icon name="layers"></ion-icon>
    </ion-fab-button>
    <ion-fab-button routerLink="client">
      <ion-icon name="person-circle-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab-list>
</ion-fab>